<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SSRSReporting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="MotorSReporting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <SSRSReporting.Properties.Settings>
            <setting name="MotorSReporting_phxssrs_ReportExecutionService"
                serializeAs="String">
                <value>http://phxssrs:80/ReportServer/ReportExecution2005.asmx</value>
            </setting>
            <setting name="SSRSReporting_ReportService_ReportingService2010"
                serializeAs="String">
                <value>http://phxssrs:80/ReportServer/ReportService2010.asmx</value>
            </setting>
        </SSRSReporting.Properties.Settings>
    </applicationSettings>
</configuration>